# Übung 2 - Statistische Analyse der Daten

In [1]:
### Daten einlesen
## Daten von Kaggle: https://www.kaggle.com/datasets/radheshyamkollipara/bank-customer-churn/data

# CSV-File einlesen - mit Library pandas
import pandas as pd
df = pd.read_csv('../../../data/Customer-Churn-Records.csv')

In [2]:
# Erst einmal anschauen, was für Features vorhanden sind (Struktur des Datensatzes)

df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425

In [3]:
# Berechnen des Modus (bspw. für das Feature "CreditScore")
df['CreditScore'].mode()

0    850
Name: CreditScore, dtype: int64

In [4]:
# Berechnen des arithmetischen Mittelwerts (bspw. für das Feature "CreditScore")
df['CreditScore'].mean()

np.float64(650.5288)

In [5]:
# Berechnen des Median (bspw. für das Feature "CreditScore")
df['CreditScore'].median()

np.float64(652.0)

In [6]:
# Berechnen der min und max Werte (bspw. für das Feature "CreditScore")
print(df['CreditScore'].min())
print(df['CreditScore'].max())

350
850

In [7]:
# Berechnen der Spannweite (bspw. für das Feature "CreditScore")
df['CreditScore'].max() - df['CreditScore'].min()

np.int64(500)

In [8]:
# Berechnen der p Perzentile (bspw. 5 Perzentil für das Feature "CreditScore")
df['CreditScore'].quantile(0.05)

np.float64(489.0)

In [9]:
# Berechnen der Quartile (bspw. das 1. Quartil für das Feature "CreditScore")
df['CreditScore'].quantile(0.25)

np.float64(584.0)

In [10]:
# Berechnen der Varianz und Standardabweichung (bspw. für das Feature "CreditScore")
print(df['CreditScore'].var())
print(df['CreditScore'].std())

9341.860156575658
96.65329873613035

In [11]:
# Berechnen von Verhältnissen (bspw. der prozentuale Anteile im Feature "Geography")
df['Geography'].value_counts(normalize=True)

Geography
France     0.5014
Germany    0.2509
Spain      0.2477
Name: proportion, dtype: float64

In [12]:
# Berechnen von Korrelationen (bspw. zwischen "Complain" und "Exited")
df['Complain'].corr(df['Exited'])

np.float64(0.9956925015718905)

In [13]:
# Eine schnelle, grobe Übersicht mit .describe()
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Point Earned
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203800,0.204400,3.013800,606.515100
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402842,0.403283,1.405919,225.924839
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000,0.000000,1.000000,119.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000,0.000000,2.000000,410.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000,0.000000,3.000000,605.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000,0.000000,4.000000,801.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000,1.000000,5.000000,1000.000000

# **Nun sind Sie dran**

Untersuchen Sie die anderen Features mittels der "statistischen Analyse"

*  ... versuchen Sie bspw. die gesamte Korrelations-Matrix zu generieren...