# Übung 4 - Daten bereinigen

In [1]:
### Daten einlesen - VORSICHT: Absichtlich "manipulierte" Daten
## Daten von Kaggle: https://www.kaggle.com/datasets/radheshyamkollipara/bank-customer-churn/data

# CSV-File einlesen - mit Library pandas
import pandas as pd
df = pd.read_csv('../../../data/Customer-Churn-Records_dirty.csv')

In [2]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425

In [3]:
# Das Feature "Gender" auf Konsistenz prüfen
df['Gender'].unique()

array(['Female', 'Male', 'M', 'F'], dtype=object)

In [4]:
# Prüfen, ob irgendwo Daten fehlen
df.isnull().sum()

RowNumber             0
CustomerId            0
Surname               0
CreditScore           0
Geography             0
Gender                0
Age                   0
Tenure                0
Balance               0
NumOfProducts         0
HasCrCard             0
IsActiveMember        0
EstimatedSalary       5
Exited                0
Complain              0
Satisfaction Score    0
Card Type             0
Point Earned          0
dtype: int64

In [5]:
# Das Feature "CreditScore" auf Ausreisser prüfen
Q1 = df["CreditScore"].quantile(0.25)
Q3 = df["CreditScore"].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = df[(df["CreditScore"] < lower_bound) | (df["CreditScore"] > upper_bound)]
print(outliers["CreditScore"])

7       376
942     376
1193    363
1405    359
1631    350
1838    350
1962    358
2473    351
2579    365
8154    367
8723    350
8762    350
9210    382
9356    373
9624    350
Name: CreditScore, dtype: int64

In [6]:
# In der Spalte "Gender" alle Einträge mit "F" zu "Female" umschreiben
df.loc[df["Gender"] == "F", "Gender"] = "Female"

In [7]:
# in der Spalte "EstimatedSalary" die fehlende Werte mit dem Median ersetzen
df["EstimatedSalary"].fillna(df["EstimatedSalary"].median(), inplace=True)

/var/folders/_r/qvytkmg9639ddqw_hz9bt_d40000gn/T/ipykernel_38279/3751218867.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["EstimatedSalary"].fillna(df["EstimatedSalary"].median(), inplace=True)

In [8]:
# in der Spalte "CreditScore" die Zeilen entfernen, die ein Ausreisser sind
df = df[(df["CreditScore"] >= lower_bound) & (df["CreditScore"] <= upper_bound)]

# **Nun sind Sie dran**
Untersuchen Sie weitere Features...

*   auf fehlende Werte, Ausreisser, ...
*   versuchen Sie fehlende Werte auch mal durch den Modus oder Mittelwert zu ersetzen, oder entsprechende Zeilen zu entfernen...